<h1>Krono</h1>
<h3>The intelligent goal tracking schedule</h3>

<div class="card home-login">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="sign_up">Sign Up</a></li>
        <li class="tab"><a href="login">Have An Account?</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="sign_up">
	     
	    </div>
      <div id="login">
	     
	    </div>
    </div>
  </div>