<div class="modal" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', event: @event %>
        <%= link_to 'Delete', @event, method: :delete, class: 'btn', data: {confirm: 'Are you sure?'}, remote: :true%>
      </div>
    </div>
  </div>
</div>